<template>
  <div class="container">
    <form ref="buttonForm" class="buttonForm">
      <label
        >Title: <input type="text" v-model="button.title" required
      /></label>
      <label>Link: <input type="url" v-model="button.url" required /></label>
      <label
        >Color:
        <select v-model="button.color" required>
          <option value="red" selected>Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="black">Black</option>
        </select></label
      >
      <button @click="submit" type="button">Save</button>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { Button } from "../types";
import { useRouter } from "vue-router";
import ButtonDataService from "../services/ButtonDataService";
import { AxiosResponse } from "axios";

export default defineComponent({
  setup() {
    const router = useRouter();

    return { router };
  },
  data() {
    return {
      exists: false,
      button: {
        id: Number(this.$route.params.id),
        title: "",
        url: "",
        color: "",
      } as Button,
    };
  },
  mounted() {
    ButtonDataService.get(Number(this.$route.params.id)).then((response) => {
      this.button = response.data;
      this.exists = true;
    });
  },

  methods: {
    submit() {
      let form: HTMLFormElement | null = document.querySelector("form");

      if (!(form && form.checkValidity())) {
        return;
      }

      if (!this.exists) {
        ButtonDataService.store(this.button).then((response) => {
          this.router.push({ path: "/home" });
        });
      } else {
        ButtonDataService.edit(this.button.id, this.button).then((response) => {
          this.router.push({ path: "/home" });
        });
      }
    },
  },
});
</script>

<style>
.buttonForm {
  display: flex;
  flex-flow: column;
}

.buttonForm select,
.buttonForm input {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}
</style>