<template>
  <div class="container">
    <button-component
      v-for="(button, index) in buttons"
      :key="index"
      :button="button"
      v-on:deleteButton="deleteButton"
    ></button-component>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import ButtonComponent from "../components/ButtonComponent.vue";
import ButtonDataService from "../services/ButtonDataService";
import { Button, ButtonIndex } from "../types";

export default defineComponent({
  components: {
    ButtonComponent,
  },
  data() {
    return {
      buttons: [] as Button[],
    };
  },
  mounted() {
    ButtonDataService.getAll().then((response) => {
      this.buttons = this.generatePlaceholderButtons(response.data);
    });
  },
  methods: {
    deleteButton(payload: ButtonIndex) {
      ButtonDataService.delete(payload.id).then((response) => {
        let index = this.buttons.findIndex((button: Button) => {
          return button.id == payload.id;
        });
        // Remove button
        this.buttons.splice(index, 1);
        // Generate new Placeholder
        this.buttons = this.generatePlaceholderButtons(this.buttons);
      });
    },
    generatePlaceholderButtons(buttons: Button[]): Button[] {
      let result: Button[] = [];
      for (let index = 1; index <= 9; index++) {
        result.push(this.findOrCreateButton(buttons, index));
      }
      return result;
    },

    findOrCreateButton(buttons: Button[], id: number): Button {
      let button = buttons.find((button: Button) => {
        return button.id == id;
      });

      if (!button) {
        button = {
          id: id,
          title: "",
          url: "",
          color: "",
        } as Button;
      }

      return button;
    },
  },
});
</script>


<style>
.container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-flow: row;
  flex-wrap: wrap;
}
</style>