<template>
  <div class="button-panel">
    <div class="button">
      <a :href="link"
        ><span :class="'material-icons add-icon ' + button.color">
          {{ icon }}
        </span></a
      >
    </div>
    <div class="actions">
      <router-link :to="{ name: 'buttonform', params: { id: button.id } }"
        ><span class="material-icons">mode_edit</span></router-link
      >
      <span
        class="material-icons link-hover"
        v-if="button.url != ''"
        @click="$emit('deleteButton', { id: button.id })"
        >delete</span
      >
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Button, ButtonIndex } from "../types/index";

export default defineComponent({
  props: {
    button: {
      type: Object as PropType<Button>,
      required: true,
    },
  },
  emits: {
    deleteButton(payload: ButtonIndex) {
      // payload validaton
      return payload.id > 0 && payload.id < 10;
    },
  },

  computed: {
    icon(): string {
      return this.button.url != "" ? "explore" : "add";
    },
    link(): string {
      if (this.button.url != "") {
        return this.button.url;
      } else {
        return `/#/buttons/${this.button.id}`;
      }
    },
  },
});
</script> 

<style>
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.black {
  color: black;
}
.button-panel {
  min-width: 250px;
  width: 30vw;
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
}
.actions {
  display: inline-flex;
  display: -ms-inline-flexbox;
  flex-flow: column;
  justify-content: space-around;
  margin-left: 20px;
  margin-bottom: 10px;
}
.button {
  text-align: right;
}
a {
  color: black;
}
.link-hover:hover {
  cursor: pointer;
}
.add-icon {
  font-size: 80px;
  border: 3px solid black;
  border-radius: 50%;
}
</style>